{{> head }}

{{> navbar }}

<div class="row">

  <div class="col-8">
    <h1>Imagen de prueba</h1>
  </div>

  <div class="col-4">
    <img src="assets/img/laptop.jpg" class="img-thumbnail" ><a href="localhost:3000/about"></a>
  </div>

</div>

{{> footer }}